  <footer>
        <div class="container">

            {% if page.path == "index.md" %}
                <!-- Google Adsense -->
    			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    			<!-- Incognitech AdSense -->
    			<ins class="adsbygoogle"
    				 style="display:block"
    				 data-ad-client="ca-pub-2157482864791682"
    				 data-ad-slot="3785934257"
    				 data-ad-format="auto"></ins>
    			<script>
    			(adsbygoogle = window.adsbygoogle || []).push({});
    			</script>
            {% endif %}

            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">&copy; {{ site.time | date: '%Y' }} - {{ site.title }} authored by {{ site.author.name }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="{{ site.JB.categories_path }}">Categories</a>
                        </li>
                        <li><a href="{{ site.JB.tags_path }}">Tags</a>
                        </li>
                        <li><a href="{{ site.github_repo }}">Contribute to this site</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
